@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Set default font and text styles */
  html {
    font-family: "Merriweather", serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Set heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto", sans-serif;
    @apply font-normal tracking-tight;
  }

  /* Set proper line height for better readability */
  p {
    @apply leading-relaxed;
  }
}

/* Smooth scrolling */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
